[Unit]
Description=Consul Online
Requires=consul.service
After=consul.service

[Service]
Type=oneshot
ExecStart=/usr/bin/consul-online.sh
User=root
Group=root

[Install]
WantedBy=consul-online.target multi-user.target